.NavBar {
  background: #120025;
  background-image: linear-gradient(to right, #011616 0%, #330867 100%);
  border-bottom: 1px solid #e60c0c;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #2142b2;
}