.NavBar {
  background-color: #FF3CAC;
  background-image: linear-gradient(to right, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  border-bottom: 1px solid #e60c0c;
}

.NavLink {
  color: white;
  padding: 5px;
}

.DropNavLink {
  color: rgb(7, 0, 0);
  padding: 5px;
}

.Active i {
  color: #2142b2;
}
